{% extends 'blog/base.html' %}

{% block content %}

{% for idea in ideas %}
    <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ idea.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-ideas' idea.author.username %}">{{ idea.author }}</a>
            <small class="text-muted">{{ idea.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'idea-detail' idea.id %}">{{ idea.title }}</a></h2>
        <p class="article-content">{{ idea.content }}</p>


      {% if user.is_authenticated %}

        <div class="row">

          <div class="col-md-1">
            {% if user in idea.likes.all %}
              <i class="fa fa-thumbs-up likebutton" id="likebutton{{idea.id}}" name="{{ idea.id }}"></i>
            {% else %}
              <i class="far fa-thumbs-up likebutton" id="likebutton{{idea.id}}" name="{{ idea.id }}"></i>
            {% endif %}

            <p id="like{{idea.id}}">{{ idea.likes.count }}</p>
          </div>

          <div class="col-md-1">
            {% if user in idea.dislikes.all %}
              <i class="fa fa-thumbs-down dislikebutton" id="dislikebutton{{idea.id}}" name="{{ idea.id }}"></i>
            {% else %}
              <i class="far fa-thumbs-down dislikebutton" id="dislikebutton{{idea.id}}" name="{{ idea.id }}"></i>
            {% endif %}

            <p id="dislike{{idea.id}}">{{ idea.dislikes.count }}</p>
          </div>

        </div>
        

      {% else %}

          <div class="row">
          <div class="col-md-1">
            <a href="/login">
              <i class="fa fa-thumbs-up"></i>
            </a>
            <p>{{ idea.likes.count }}</p>
          </div>
          <div class="col-md-1">
            <a href="/login">
              <i class="fa fa-thumbs-down"></i>
            </a>
            <p>{{ idea.dislikes.count }}</p>
          </div>
          </div>
          
      {% endif %}

      <p>{{ idea.comments.count }} <i class="far fa-comment"></i></p>
      <p>{{ idea.views }} <i class="fa fa-eye" style="font-size: 1em;"></i></p>

      {% if idea in user.profile.favorites.all %}
        <i class="fa fa-bookmark favorite" name="{{ idea.id }}" id="favorite{{idea.id}}" style="font-size: 1em;"></i>
      {% else %}
        <i class="fa fa-bookmark-o favorite" name="{{ idea.id }}" id="favorite{{idea.id}}" style="font-size: 1em;"></i>
      {% endif %}


    </div>
    </article>
{% endfor %}
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

{% endif %}
    
{% endblock content %}


{% block javascript %}
  <script type="text/javascript">
    $('.likebutton').click(function(){
      var catid;
      catid = $(this).attr("name");
      $.ajax(
        {
         type:"GET",
          url: "/likeIdea",

         data:{
           idea_id: catid
         },

         success: function( data ){
           $( '#like'+ catid ).text(data["number_of_likes"]);

           if(data["result"] == "Liked+1"){
              $( '#likebutton'+ catid ).removeClass("far");
              $( '#likebutton'+ catid ).addClass("fa");
           }
           else if(data["result"] == "Liked-1"){
              $( '#likebutton'+ catid ).removeClass("fa");
              $( '#likebutton'+ catid ).addClass("far");
           }
          }
      })

    });
    $('.dislikebutton').click(function(){
      var catid;
      catid = $(this).attr("name");
      $.ajax(
        {
         type:"GET",
          url: "/dislikeIdea",

         data:{
           idea_id: catid
         },

         success: function( data ){
           $( '#dislike'+ catid ).text(data["number_of_dislikes"]);

           if(data["result"] == "DisLiked+1"){
              $( '#dislikebutton'+ catid ).removeClass("far");
              $( '#dislikebutton'+ catid ).addClass("fa");
           }
           else if(data["result"] == "DisLiked-1"){
              $( '#dislikebutton'+ catid ).removeClass("fa");
              $( '#dislikebutton'+ catid ).addClass("far");
           }
          }
      })

    });
    $('.favorite').click(function(){
      var catid;
      catid = $(this).attr("name");
      $.ajax(
        {
         type:"GET",
          url: "/favorite",

         data:{
           idea_id: catid
         },

         success: function( data ){
           if(data == "Saved"){
              $( '#favorite'+ catid ).removeClass("fa-bookmark-o");
              $( '#favorite'+ catid ).addClass("fa-bookmark");
           }
           else{
              $( '#favorite'+ catid ).removeClass("fa-bookmark");
              $( '#favorite'+ catid ).addClass("fa-bookmark-o");
           }
          }
      })
      });

  </script>
  
{% endblock javascript %}

