{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<article class="media content-section">
<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-ideas' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        <small class="ml-3">{{ object.views }} <i class="fa fa-eye" style="font-size: 1em;"></i></small>

        <ul class="mb-0 list-inline mt-3">
          
          {% if user.is_authenticated %}

            {% if object in user.profile.favorites.all %}
              <li class="list-inline-item"><i class="fa fa-bookmark favorite" name="{{ object.id }}" style="font-size: 170%;"></i></li>
            {% else %}
              <li class="list-inline-item"><i class="fa fa-bookmark-o favorite" name="{{ object.id }}" style="font-size: 170%;"></i></li>
            {% endif %}

            {% if user in object.likes.all %}
              <li class="list-inline-item"><i class="fa fa-thumbs-up likebutton" name="{{ object.id }}"></i></li>
            {% else %}
              <li class="list-inline-item"><i class="far fa-thumbs-up likebutton" name="{{ object.id }}" style="font-size: 170%;"></i></li>
            {% endif %}

            {% if user in object.dislikes.all %}
              <li class="list-inline-item"><i class="fa fa-thumbs-down dislikebutton" name="{{ object.id }}"></i></li>
            {% else %}
              <li class="list-inline-item"><i class="far fa-thumbs-down dislikebutton" name="{{ object.id }}" style="font-size: 170%;"></i></li>
            {% endif %}

          {% else %}
          
                <li class="list-inline-item"><a href="/login"><i class="far fa-thumbs-up" style="font-size: 170%;"></i></a></li>
                <li class="list-inline-item"><a href="/login"><i class="far fa-thumbs-down" style="font-size: 170%;"></i></a></li>

          {% endif %}

          
          {% comment %} <p id="like{{object.id}}">{{ number_of_likes }}</p> {% endcomment %}
          {% comment %} <p id="dislike{{object.id}}">{{ object.dislikes.count }}</p> {% endcomment %}

        </ul>
    </div>

    <h2><a class="article-title" href="">{{ object.title }}</a></h2>
    <p class="article-content">{{ object.content }}</p>

    {% if object.author.username == user.username %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'idea-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'idea-delete' object.id %}">Delete</a>
    {% endif %}

</div>
</article>



<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on|date:"F d, Y" }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="POST" style="margin-top: 1.3em;">
          {{ comment_form|crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block javascript %}

  {% load static %}
  <script type="text/javascript" src="{% static 'blog/idea_detail.js' %}"></script> 
  
{% endblock javascript %}
