{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<article class="media content-section">
<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2><a class="article-title" href="">{{ object.title }}</a></h2>
    <p class="article-content">{{ object.content }}</p>


    {% if user.is_authenticated %}

      <div class="row">
      
        <div class="col-md-1">
          {% if user in object.likes.all %}
            <i class="fa fa-thumbs-up likebutton" name="{{ object.id }}"></i>
          {% else %}
            <i class="far fa-thumbs-up likebutton" name="{{ object.id }}"></i>
          {% endif %}

          <p id="like{{object.id}}">{{ number_of_likes }}</p>
        </div>

        <div class="col-md-1">
          {% if user in object.dislikes.all %}
            <i class="fa fa-thumbs-down dislikebutton" name="{{ object.id }}"></i>
          {% else %}
            <i class="far fa-thumbs-down dislikebutton" name="{{ object.id }}"></i>
          {% endif %}

          <p id="dislike{{object.id}}">{{ object.dislikes.count }}</p>
        </div>

      </div>
      

    {% else %}

        <div class="row">
        <div class="col-md-1">
          <a href="/login">
            <i class="fa fa-thumbs-up"></i>
          </a>
          <p>{{ number_of_likes }}</p>
        </div>
        <div class="col-md-1">
          <a href="/login">
            <i class="fa fa-thumbs-down"></i>
          </a>
          <p>{{ object.dislikes.count }}</p>
        </div>
        </div>

    {% endif %}

    <p>{{ object.views }} <i class="fa fa-eye" style="font-size: 1em;"></i></p>

    
    {% if object in user.profile.favorites.all %}
      <i class="fa fa-bookmark favorite" name="{{ object.id }}" style="font-size: 1em;"></i>
    {% else %}
      <i class="fa fa-bookmark-o favorite" name="{{ object.id }}" style="font-size: 1em;"></i>
    {% endif %}


    {% if object.author.username == user.username %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'idea-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'idea-delete' object.id %}">Delete</a>
    {% endif %}
</div>
</article>



<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on|date:"F d, Y" }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="POST" style="margin-top: 1.3em;">
          {{ comment_form|crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block javascript %}
  <script type="text/javascript">
    $('.likebutton').click(function(){
      var catid;
      catid = $(this).attr("name");
      $.ajax(
        {
         type:"GET",
          url: "/likeIdea",

         data:{
           idea_id: catid
         },

         success: function( data ){
           $( '#like'+ catid ).text(data["number_of_likes"]);

           if(data["result"] == "Liked+1"){
              $( '.likebutton' ).removeClass("far");
              $( '.likebutton' ).addClass("fa");
           }
           else if(data["result"] == "Liked-1"){
              $( '.likebutton' ).removeClass("fa");
              $( '.likebutton' ).addClass("far");
           }
          }
      })

    });
    $('.dislikebutton').click(function(){
      var catid;
      catid = $(this).attr("name");
      $.ajax(
        {
         type:"GET",
          url: "/dislikeIdea",

         data:{
           idea_id: catid
         },

         success: function( data ){
           $( '#dislike'+ catid ).text(data["number_of_dislikes"]);

           if(data["result"] == "DisLiked+1"){
              $( '.dislikebutton' ).removeClass("far");
              $( '.dislikebutton' ).addClass("fa");
           }
           else if(data["result"] == "DisLiked-1"){
              $( '.dislikebutton' ).removeClass("fa");
              $( '.dislikebutton' ).addClass("far");
           }
          }
      })

    });
    $('.favorite').click(function(){
      var catid;
      catid = $(this).attr("name");
      $.ajax(
        {
         type:"GET",
          url: "/favorite",

         data:{
           idea_id: catid
         },

         success: function( data ){
           if(data == "Saved"){
              $( '.favorite' ).removeClass("fa-bookmark-o");
              $( '.favorite' ).addClass("fa-bookmark");
           }
           else{
              $( '.favorite' ).removeClass("fa-bookmark");
              $( '.favorite' ).addClass("fa-bookmark-o");
           }
          }
      })

    });

  </script>
  
{% endblock javascript %}
